body{

    background-color: skyblue;
}

*{
    font-family: cursive;
    }
    
    .div1{
        margin: 0 auto;
    border: 21px solid rgb(102, 216, 102);
    width: 400px;
    height: 400px;
    border-radius: 8%;
    text-align: center;
    background-image:url(./flower.jfif);
     }

     
    .andarwalah1{
        color:skyblue
    }



    .email{
     
        margin: 0 5px  ;
        background-image: url(../image/user_male.png);
        background-size: 12px;
        background-repeat: no-repeat;
        padding-left: 27px;
        background-position: left -58px;
        background-position-y: center;
        background-position-x: 4px;
       
        }
    
    .pass{
       
        margin: 6px;   
        margin: -7px 27px;
        MARGIN-LEFT: -2px;
        background-image: url(../image/password.png);
        background-position: left -58;
        background-position-x: 4px;
        background-position-y: center;
        background-repeat: no-repeat;  
        background-size: 13px;
        padding-left: 27px;
        }
    
       .signinbtn{
             background-color: aqua;
             width: 30%;
 }

 
        .form{
            color: aqua;
             margin: 95px auto;
             }
     
    
    ::placeholder{
        font-weight: bolder;
    }
    
.signupfont{
  font-family: cursive;
   color: aquamarine;


}


.headingcolor{

color: aqua;


}



a{
text-decoration: none;
font-size: 2em;

}